<div class="container card-container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<h2 style="margin-bottom: 50px;">О Нас</h2>
			<h3>Уважаемые господа коллекционеры-нумизматы!</h3>
			<p class="info-paragraph">После многих десятилетий гонений на нумизматов во времена советской власти, когда в обществе культивировалось негативное отношение к коллекционерам дореволюционных монет и наград, когда последним навешивали позорное клеймо «монархистов, драгметаллистов, валютчиков», прошло более двух десятилетий. Сейчас нет запрета на покупку-продажу коллекционного материала, без чего нумизматика немыслима, рынок постепенно приобретает цивилизованные формы. Сочетание исторической, эстетической и инвестиционной составляющих привлекают в нумизматику тысячи приверженцев и, чем больше открывается «торговых площадок», квалифицированно предлагающих качественный материал с гарантией подлинности, тем выше конкуренция, тем в большем выигрыше будут коллекционеры. Именно коллекционная и инвестиционная составляющая выбрана приоритетом деятельности представляемой Вам компании «Нумизматический центр Хортица», которая присутствует на нумизматическом рынке более 10 лет.</p>
			<p class="info-paragraph">Основная задача компании – подбор и продажа коллекционного и инвестиционного нумизматического материала с высокой степенью доходности.</p>
			<p class="info-paragraph">Виды деятельности компании:</p>
			<ul class="info-list">
				<li>Консультации для инвесторов. <b>e-mail: vvs@numismat.in.ua</b></li>
				<li>Помощь в формировании коллекций, представительство на зарубежных аукционах</li>
				<li>Покупка-продажа предметов нумизматики в постоянно действующем интернет-магазине <b>www.numismat.in.ua</b></li>
				<li>Проведение интернет-аукционов <b>www.numismat.in.ua</b></li>
				<li>Проведение очных открытых нумизматических аукционов, способствующих установлению контактов и налаживанию взаимовыгодных отношений</li>
			</ul>
			<p class="info-paragraph"><b>Добро пожаловать!</b></p>
		</div>
	</div>
</div>