<div class="container card-container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<h2 style="margin-bottom: 50px;">Оплата и доставка</h2>
			<p class="info-paragraph">Формы оплаты обсуждаются после оформления заказа в онлайн-магазине или онлайн-аукционе, которые отсылаются на электронный адрес зарегистрированного участника.</p>
			<p class="info-paragraph">Забрать выигранные в аукционе или купленные в онлайн магазине лоты по предварительной договоренности можно в офисе по адресу: <b>г. Запорожье, ул. Сталеваров 3А, офис 206</b>.</p>
			<p class="info-paragraph">В случае доставки, мы рекомендуем доставку курьерской службой <b>«Новая почта»</b>. </p>
			<p class="info-paragraph">Возможна доставка любыми другими службами доставки по договоренности.</p>
			<p class="info-paragraph">Отправка предметов осуществляется после 100% оплаты.</p>
			<p class="info-paragraph">Доставка осуществляется только по территории Украины.</p>
		</div>
	</div>
</div>