<div class="container" ng-controller="AuctionController as auction">

	<div class="row" style="margin-top:20px" ng-if="auction.auctionExist == 'yes'" ng-cloak>
		<div class="col-xs-12 col-md-9 prods">
			<div class="row" style="margin-bottom:20px">
				<div class="col-xs-7 col-sm-5 col-lg-4">
					<div class="dropdown">
				      	<button type="button" data-toggle="dropdown" class="btn category-filter">
				            Фильтровать по категориям 
				            <span style="margin-left: 10px">
				            	<i class="fa fa-bars fa-lg" aria-hidden="true"></i>
				            </span>
				        </button>
				      	<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
				      		<li>
				      			<a href="#" ng-click="auction.showAll()">Все категории</a>
				      		</li>
				        	<li class="dropdown-submenu" ng-repeat="category in auction.categories track by $index"><a href="#" tabindex="-1" ng-click="auction.selectCat(category.name)">{{category.name}}</a>
				          		<ul class="dropdown-menu">
				            		<li ng-repeat="subcat in category.subcats"><a tabindex="-1" href="#" ng-click="auction.selectCat(category.name, subcat)">{{subcat}}</a></li>
				          		</ul>
				        	</li>
				      	</ul>
				    </div>
				</div>
				<div class="col-xs-5 visible-xs">
					<button class="btn pull-right toggle-view" ng-class="{ 'active-tab': $root.showAsBlocks == true }" ng-click="auction.changeActiveTab('block')">
						<i class="fa fa-th-large" aria-hidden="true"></i>
					</button>
					<button class="btn pull-right toggle-view" ng-class="{ 'active-tab': $root.showAsList == true}" ng-click="auction.changeActiveTab('list')">
						<i class="fa fa-list" aria-hidden="true"></i>
					</button>	
				</div>
				<div class="col-xs-12 visible-xs" style="margin-top: 15px;">
					<h5 ng-if="auction.filterCat">
						<span>Фильтр: </span>
						<span class="label label-primary">{{auction.filterCat}}</span>
						<span ng-if="auction.filterSubcat"> / </span>
						<span class="label label-primary" ng-if="auction.filterSubcat">{{auction.filterSubcat}}</span>
					</h5>
				</div>
				<div class="col-xs-12 visible-xs" style="margin-top: 15px;">
					<button type="button" class="btn btn-success btn-lg center-block" ng-click="auction.goToActiveLot()" ng-if="auction.onlineTrading">К активному лоту</button>
				</div>
				<div class="col-xs-12 visible-xs" style="margin-top: 15px;">
					<input type="search" class="form-control" placeholder="Поиск по названию лота" ng-model="auction.query" ng-change="auction.filterLots()">
				</div>
				<div class="col-lg-6 visible-lg">
					<input type="search" class="form-control" placeholder="Поиск по названию лота" ng-model="auction.query" ng-change="auction.filterLots()">
				</div>
				<div class="col-sm-4 visible-sm visible-md">
					<input type="search" class="form-control" placeholder="Поиск по названию" ng-model="auction.query" ng-change="auction.filterLots()">
				</div>
				<div class="col-sm-3 col-md-3 col-lg-2 hidden-xs">
					<button class="btn pull-right toggle-view" ng-class="{ 'active-tab': $root.showAsBlocks == true }" ng-click="auction.changeActiveTab('block')">
						<i class="fa fa-th-large fa-lg" aria-hidden="true"></i>
					</button>
					<button class="btn pull-right toggle-view" ng-class="{ 'active-tab': $root.showAsList == true}" ng-click="auction.changeActiveTab('list')">
						<i class="fa fa-list fa-lg" aria-hidden="true"></i>
					</button>	
				</div>
				<div class="col-sm-12 visible-sm" style="margin-top: 15px;">
					<h4 ng-if="auction.filterCat">
						<span>Фильтр: </span>
						<span class="label label-primary">{{auction.filterCat}}</span>
						<span ng-if="auction.filterSubcat"> / </span>
						<span class="label label-primary" ng-if="auction.filterSubcat">{{auction.filterSubcat}}</span>
					</h4>
				</div>
				<div class="col-sm-12 visible-sm" style="margin-top: 15px;">
					<button type="button" class="btn btn-success btn-lg center-block" ng-click="auction.goToActiveLot()" ng-if="auction.onlineTrading">К активному лоту</button>
				</div>
			</div>
			<div class="row filters visible-xs visible-sm" style="margin-bottom:20px">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<div class="card-container">
						<form role="form">
							<h2 class="text-center">Фильтры</h2>
							<div class="form-group" ng-repeat="filter in auction.filters">
								<label>{{filter.name}}:</label>
								<select class="form-control" ng-model="auction.filter[filter.meta]" ng-change="auction.filterLots()">
									<option selected>< не выбрано ></option>
									<option ng-repeat="value in filter.values">{{value}}</option>
								</select>
							</div>
							<div class="form-group">
								<h4>Отображать лоты:</h4>
								<div class="radio">
								  	<label>
								        <input type="radio" name="optionsRadios" value="pagination" ng-model="auction.mode" ng-change="auction.changePage()">
								          Постранично
								    </label>
								</div>
								<div class="radio">
								  	<label>
								        <input type="radio" name="optionsRadios" value="all" ng-model="auction.mode" ng-change="auction.changePage()">
								          Все лоты на одной странице
								    </label>
								</div>
							</div>
							<div class="form-group" ng-if="auction.mode == 'pagination'">
								<label>Лотов на странице:</label>
								<select class="form-control" ng-model="auction.pagination.pageSize" ng-change="auction.changePage()" ng-options="value for value in auction.pageSizeVars">
								</select>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row hidden-xs hidden-sm" style="margin-bottom:20px">
				<div class="col-md-12">
					<h4 ng-if="auction.filterCat">
						<span>Фильтр: </span>
						<span class="label label-primary">{{auction.filterCat}}</span>
						<span ng-if="auction.filterSubcat"> / </span>
						<span class="label label-primary" ng-if="auction.filterSubcat">{{auction.filterSubcat}}</span>
					</h4>
				</div>
				<div class="col-md-12 hidden-xs hidden-sm">
					<button type="button" class="btn btn-success btn-lg center-block" ng-click="auction.goToActiveLot()" ng-if="auction.onlineTrading">К активному лоту</button>
				</div>
			</div>
			<div class="row" ng-show="$root.showAsBlocks">
				<div class="col-xs-12 col-sm-6" ng-repeat="product in auction.pagination.filtered">
					<div class="lot" ui-sref="lot({ lot_id: product._id })">
						<h4 class="text-center">Лот №{{product.number}}</h4>
						<h4 class="text-center">"{{product.name}}"</h4>
						<img class="center-block" ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_scale,g_center,h_250/{{product.imgIds[0]}}.png">	
						<div class="row">
							<div class="col-xs-12 bets">
								<span class="font-icon"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>
								<span><b>Онлайн торги:</b> {{product.timeToStart}}</span>
							</div>
							<div class="col-xs-12 bets">
								<span class="font-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
								<span><b>Ставки:</b> {{product.bets}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 bets">
								<span class="text-center price">{{product.price}} грн</span>
							</div>
							<div class="col-xs-6">
								<span class="detail-info pull-right"><strong>Подробнее</strong></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-show="$root.showAsList">
				<div class="col-xs-12">
					<div class="card-container table-responsive" style="margin-bottom: 30px;">
						<table class="table table-hover product-list">
							<tbody>
								<tr class="row" ng-repeat="product in auction.pagination.filtered" ui-sref="lot({ lot_id: product._id })">
									<td class="col-md-3">
										<img  class="center-block" ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_scale,g_center,h_90/{{product.imgIds[0]}}.png">
									</td>
									<td class="col-md-5">
										<h4>Лот №{{product.number}}: "{{product.name}}"</h4>
										<div class="row">
											<div class="col-xs-12 bets bets-as-list">
												<span class="font-icon">
													<i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
												</span>
												<span><b>Онлайн торги:</b> {{product.timeToStart}}</span>
											</div>
											<div class="col-xs-12 bets bets-as-list">
												<span class="font-icon">
													<i class="fa fa-users" aria-hidden="true"></i>
												</span>
												<span><b>Ставки:</b> {{product.bets}}</span>
											</div>
										</div>
									</td>
									<td class="col-md-2 text-center">
										<span class="price">{{product.price}} грн</span>
									</td>
									<td class="col-md-2">
										<span class="detail-info pull-right"><strong>Подробнее</strong></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="text-center" ng-if="auction.mode == 'pagination'">
	            <ul uib-pagination first-text="&laquo;" last-text="&raquo;" next-text="&rsaquo;" previous-text="&lsaquo;" total-items="auction.pagination.totalItems" items-per-page="auction.pagination.pageSize" ng-model="auction.pagination.currentPage" max-size="4" boundary-links="true" boundary-link-numbers="true" ng-change="auction.changePage()"></ul>
	        </div>
		</div>
		<div class="col-md-3 filters hidden-xs hidden-sm">
			<div class="card-container">
				<form role="form">
					<h2 class="text-center">Фильтры</h2>
					<div class="form-group" ng-repeat="filter in auction.filters">
						<label>{{filter.name}}:</label>
						<select class="form-control" ng-model="auction.filter[filter.meta]" ng-change="auction.filterLots()">
							<option selected>< не выбрано ></option>
							<option ng-repeat="value in filter.values">{{value}}</option>
						</select>
					</div>
					<div class="form-group">
						<h4>Отображать лоты:</h4>
						<div class="radio">
						  	<label>
						        <input type="radio" name="optionsRadios" value="pagination" ng-model="auction.mode" ng-change="auction.changePage()">
						          Постранично
						    </label>
						</div>
						<div class="radio">
						  	<label>
						        <input type="radio" name="optionsRadios" value="all" ng-model="auction.mode" ng-change="auction.changePage()">
						          Все лоты на одной странице
						    </label>
						</div>
					</div>
					<div class="form-group" ng-if="auction.mode == 'pagination'">
						<label>Лотов на странице:</label>
						<select class="form-control" ng-model="auction.pagination.pageSize" ng-change="auction.changePage()" ng-options="value for value in auction.pageSizeVars">
						</select>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row" ng-if="auction.auctionExist  == 'no'">
		<div class="col-xs-8 col-xs-offset-2 text-center">
			<h3 style="margin-top: 100px;">Сейчас нет активных аукционов.</h3>
		</div>
	</div>
</div>