<div class="container" ng-controller="LotController as lot">
	<div class="card-container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<span class="pull-left prev-next" ui-sref="lot({ lot_id: lot.prevId })"><i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i><strong>Пред. лот</strong></span>
			</div>
			<div class="col-sm-6 hidden-xs">
				<h1 class="text-center profile-caption">{{lot.lot.name}}</h1>
			</div>
			<div class="col-xs-6 col-sm-3">
				<span class="pull-right prev-next" ui-sref="lot({ lot_id: lot.nextId })"><strong>След. лот</strong><i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></span>
			</div>
			<div class="col-xs-12 visible-xs">
				<h1 class="text-center profile-caption">{{lot.lot.name}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-5">
				<div class="avatar" ng-click="lot.openLightboxModal(0)">
					<img ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_scale,h_250,w_500/{{lot.lot.imgIds[0]}}.png">
				</div>
				<div class="img-list">
					<div class="img-item" ng-click="lot.openLightboxModal(1)">
						<img ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_lfill,g_center,h_150,w_150/{{lot.lot.imgIds[1]}}.png">
					</div>
					<div class="img-item" ng-click="lot.openLightboxModal(2)">
						<img ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_lfill,g_center,h_150,w_150/{{lot.lot.imgIds[2]}}.png">
					</div>
					<div class="img-item" ng-click="lot.openLightboxModal(3)">
						<img ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_lfill,g_center,h_150,w_150/{{lot.lot.imgIds[3]}}.png">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-7">
				<p class="main-description">{{lot.lot.main_description}}</p>
				<ul class="product-properties">
					<li ng-repeat="prop in lot.lot.props"><strong>{{prop.name}}:</strong> {{prop.value}}</li>
				</ul>	
				<div class="row" style="margin-top: 30px;">
					<div class="col-xs-12 bets">
						<span class="font-icon"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>
						<span><b>Завершение онлайн торгов:</b> {{lot.endToTrade}}</span>
					</div>
					<div class="col-xs-12 bets">
						<span class="font-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
						<span><b>Ставки:</b> {{lot.lot.bets}}</span>
					</div>
				</div>

				<div class="row" ng-if="!lot.available">
					<div class="col-xs-12" ng-if="lot.ownBet">
						<h4 class="text-success text-center">Ваша ставка победила!</h4>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-5 col-lg-4">
						<h4 style="margin-left: 25px; margin-top: 27px;">Продано по цене:</h4>
					</div>
					<div class="col-xs-6 col-sm-8 col-md-7 col-lg-8">
						<h2 class="lot-price">{{lot.lot.price}} грн</h2>
					</div>
				</div>
				<div class="row" ng-if="lot.available">
					<div class="col-xs-12" ng-if="lot.ownBet">
						<h4 class="text-success text-center">Ваша ставка лидирует</h4>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-5 col-lg-4">
						<h4 style="margin-left: 25px; margin-top: 27px;">Актуальная цена:</h4>
					</div>
					<div class="col-xs-6 col-sm-8 col-md-7 col-lg-8">
						<h2 class="lot-price">{{lot.lot.price}} грн</h2>
					</div>
					
				</div>
				<div class="row" ng-if="lot.available && !lot.errorMessage">
					<div class="col-sm-4 col-md-5 col-lg-4 hidden-xs">
						<button type="button" class="btn btn-success btn-lg" style="margin-left: 25px;" ng-disabled="betForm.Bet.$invalid" ng-click="lot.makeBet()">Сделать ставку</button>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
						<form name="betForm">
							<input type="number" name="Bet" class="form-control input-lg" ng-min="lot.minBet" ng-model="lot.bet" required>
						</form>
					</div>	
					<div class="col-xs-12 visible-xs">
						<form name="betForm2">
							<input type="number" name="Bet" class="form-control input-lg" ng-min="lot.minBet" ng-model="lot.bet" required>
						</form>
					</div>	
					<div class="col-xs-12 visible-xs">
						<button type="button" class="btn btn-success btn-lg" style="margin-top: 15px; width: 100%;" ng-disabled="betForm2.Bet.$invalid" ng-click="lot.makeBet()">Сделать ставку</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 error-message">
                		<div class="alert alert-warning toggle" ng-if="lot.errorMessage">
                  			<span>{{lot.errorMessage}}</span>
                		</div>
              		</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<span class="pull-left prev-next" ui-sref="lot({ lot_id: lot.prevId })"><i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i><strong>Пред. лот</strong></span>
			</div>
			<div class="col-xs-6">
				<span class="pull-right prev-next" ui-sref="lot({ lot_id: lot.nextId })"><strong>След. лот</strong><i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>
</div>