<div class="container-fluid" ng-controller="AdminCreateAuctionController as createAuction">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="card-container">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<input type="text" class="form-control input-lg" placeholder="Название аукциона" ng-model="createAuction.auctionName">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5 col-xs-offset-2">
						<h4 style="margin-top: 40px;">Дата начала онлайн-торгов:</h4>
					</div>
					<div class="col-xs-5">
						<div class="dateToStart"><i>{{createAuction.dateStart}}</i></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-xs-offset-2">
						<div style="margin-top: 30px;" uib-datepicker ng-model="createAuction.dt" datepicker-options="createAuction.datePickerOptions" ng-change="createAuction.changeTime()"></div>
					</div>
					<div class="col-xs-2 col-xs-offset-1">
						<div style="margin-top: 90px;" uib-timepicker ng-model="createAuction.dt" hour-step="1" minute-step="5" show-meridian="false" ng-change="createAuction.changeTime()"></div>
					</div>
				</div>
				<div class="row" style="margin-top: 50px; margin-bottom: 20px;">
					<div class="col-xs-12">
						<button class="btn btn-success btn-lg center-block" type="button" title="Создать аукцион" ng-click="createAuction.create()" ng-disabled="!createAuction.auctionName">Создать аукцион</button>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>