<div class="container-fluid" ng-controller="AdminAttributesController as adminAttrs">

	<div class="row">
		<div class="col-xs-12">
			<h2>Атрибуты:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 col-lg-4">
			<div class="card-container">
				<h3 class="text-center">Добавить новый атрибут:</h3>
				<p>
					<i>Атрибуты помогают вам определить дополнительные параметры товара, такие как материал или состояние.</i>
				</p>
				<form>
					<div class="form-group">
						<label for="attrName"> Название</label>
						<input type="text" class="form-control" id="attrName" placeholder="Имя атрибута" ng-model="adminAttrs.attribute.name">
						<p><i>(показывается на сайте)</i></p>
					</div>
					<div class="form-group">
						<label for="attrObjField"> Мета-имя</label>
						<input type="text" class="form-control" id="attrObjField" placeholder="Служебное имя" maxlength="28" pattern="^[a-zA-Z]+$" ng-model="adminAttrs.attribute.meta">
						<p><i>(Слово латинскими буквами без пробелов, не больше 28 символов. Будет служить для построения модели товара)</i></p>
					</div>
					<div class="form-group">
						<label for="attrType"> Тип</label>
						<select class="form-control" id="attrType" ng-model="adminAttrs.attribute.type">
							<option value="Текст">Текст</option>
							<option value="Выбор">Выбор</option>
						</select>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-4 col-md-5 col-lg-4" ng-if="adminAttrs.attribute.type == 'Выбор'">
						<h4 style="padding-top: 15px;">Значения:</h4>
					</div>
					<div class="col-sm-8 col-md-7 col-lg-8" ng-if="adminAttrs.attribute.type == 'Выбор'">
						<button uib-popover-template="'addProp.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'outsideClick'" class="addUser" type="button" title="Добавить пользователя"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
					</div>
					<div class="col-xs-12" ng-if="adminAttrs.attribute.type == 'Выбор'">
						<ul class="valueList">
							<li ng-repeat="value in adminAttrs.attribute.values track by $index">{{value}}<i title="Удалить" class="fa fa-times pull-right" aria-hidden="true" ng-click="adminAttrs.removeValue(value)"></i></li>
						</ul>
					</div>
					<div class=" col-xs-12 error-message">
						<div class="alert alert-danger toggle" ng-if="adminAttrs.alert">
		                  	<span> <strong>Ошибка!</strong> {{adminAttrs.alert}}</span>
		                </div>
					</div>
					<div class="col-xs-12">
						<button type="button" class="btn btn-success btn-lg center-block propPlus" ng-click="adminAttrs.saveAttr()" ng-disabled="!adminAttrs.attribute.name || !adminAttrs.attribute.meta || !adminAttrs.attribute.type">Сохранить</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-lg-8">
			<div class="card-container">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr class="row">
								<td class="text-center">
									<strong>Название</strong>
								</td>
								<td class="text-center">
									<strong>Мета-имя</strong>
								</td>
								<td class="text-center">
									<strong>Тип</strong>
								</td>
								<td class="text-center">
									<strong>Значения</strong>
								</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr class="row" ng-repeat="attr in adminAttrs.attributes" ng-mouseover="attr.hovered = true" ng-mouseleave="attr.hovered = false">
								<td class="text-center">{{attr.name}}</td>
								<td class="text-center">{{attr.meta}}</td>
								<td class="text-center">{{attr.type}}</td>
								<td class="text-center"><span ng-if="attr.type == 'Выбор'" ng-repeat="value in attr.values track by $index">{{value}}; </span></td>
								<td>
									<div class="inline-btns center-block" ng-if="attr.hovered">
			    						<button type="button" class="no-border" ng-click="adminAttrs.editAttr(attr)">
					    					<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
					    				</button>
					    				<button type="button" class="no-border" ng-click="adminAttrs.removeAttr(attr)">
					    					<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					    				</button>
					    			</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script type="text/ng-template" id="addProp.html">
    	<div class="rolePopover">
    		<input type="text" class="form-control" placeholder="Название" ng-model="adminAttrs.inputValue">
    		<div class="alert alert-danger toggle" ng-if="adminAttrs.popoverAlert" style="margin-top: 15px;">
    			<span>{{adminAttrs.popoverAlert}}</span>
    		</div>
    		<button type="button" class="btn btn-primary propPlus center-block" ng-click="adminAttrs.appendValue()">Добавить</button>
    	</div>
    </script>

    <script type="text/ng-template" id="modalAddProp.html">
    	<div class="rolePopover">
    		<input type="text" class="form-control" placeholder="Название" ng-model="modal.inputValue">
    		<div class="alert alert-danger toggle" ng-if="modal.popoverAlert" style="margin-top: 15px;">
    			<span>{{modal.popoverAlert}}</span>
    		</div>
    		<button type="button" class="btn btn-primary propPlus center-block" ng-click="modal.appendValue()">Добавить</button>
    	</div>
    </script>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Редактирование атрибута</h3>
        </div>
        <div class="modal-body" id="modal-body">
        	<div class="row">
        		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		        	<form>
						<div class="form-group">
							<label for="modalAttrName"> Название</label>
							<input type="text" class="form-control" id="modalAttrName" placeholder="Имя атрибута" ng-model="modal.attribute.name">
							<p><i>(показывается на сайте)</i></p>
						</div>
						<div class="form-group">
							<label for="modalAttrObjField"> Мета-имя</label>
							<input type="text" class="form-control" id="modalAttrObjField" placeholder="Служебное имя" maxlength="28" pattern="^[a-zA-Z]+$" ng-model="modal.attribute.meta">
							<p><i>(Слово латинскими буквами без пробелов, не больше 28 символов. Будет служить для построения модели товара)</i></p>
						</div>
						<div class="form-group">
							<label for="modalAttrType"> Тип</label>
							<select class="form-control" id="modalAttrType" ng-model="modal.attribute.type">
								<option value="Текст">Текст</option>
								<option value="Выбор">Выбор</option>
							</select>
						</div>
					</form>
					<div class="row" ng-if="!modal.edit">
						<div class="col-xs-4 col-sm-3" ng-if="modal.attribute.type == 'Выбор'">
							<h4 style="padding-top: 15px;">Значения:</h4>
						</div>
						<div class="col-xs-3 col-sm-3" ng-if="modal.attribute.type == 'Выбор'">
							<button uib-popover-template="'modalAddProp.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'outsideClick'" class="addUser" type="button" title="Добавить пользователя"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
						</div>
						<div class="col-xs-5 col-sm-6" ng-if="modal.attribute.type == 'Выбор'">
							<h5 style="padding-top: 20px; cursor: pointer;" class="pull-right text-primary" ng-click="modal.edit = true">Редактировать</h5>
						</div>
						<div class="col-xs-12" ng-if="modal.attribute.type == 'Выбор'">
							<ul class="valueList">
								<li ng-repeat="value in modal.attribute.values track by $index">{{value}}<i title="Удалить" class="fa fa-times pull-right" aria-hidden="true" ng-click="modal.removeValue(value)"></i></li>
							</ul>
						</div>
						<div class=" col-xs-12 error-message">
							<div class="alert alert-danger toggle" ng-if="modal.alert">
			                  	<span> <strong>Ошибка!</strong> {{modal.alert}}</span>
			                </div>
						</div>
					</div>
					<div class="row" ng-if="modal.edit" style="margin-top: 40px;">
						<div class="col-xs-8 col-xs-offset-2">
							<form>
								<div class="form-group" ng-repeat="value in modal.attribute.values track by $index">
									<input type="text" class="form-control" ng-model="value" ng-change="modal.checkValid(value, $index)">
								</div>
								<div class="form-group toggle" ng-if="modal.errorMsg">
									<div class="alert alert-danger">
						    			<span>{{modal.errorMsg}}</span>
						    		</div>
								</div>
								<div class="form-group">
									<button class="btn btn-primary center-block" type="button" ng-click="modal.editSubcats()" ng-disabled="!modal.validForm">OK!</button>
								</div>
							</form>
						</div>
					</div>
		        </div> 
        	</div>  
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="modal.save()" ng-disabled="!modal.attribute.name || !modal.attribute.meta || !modal.attribute.type || modal.edit">Сохранить</button>
            <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Отмена</button>
        </div>
    </script>
</div>