<div class="container-fluid" ng-controller="StatisticController as statistic">
	<div class="row">
		<div class="col-xs-12">
			<h2>Текущий аукцион:</h2>
		</div>
	</div>
	<div class="row" ng-if="!statistic.activeAuc">
		<h1>В данный момент нет активных аукционов</h1>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-danger btn-lg center-block" ng-click="statistic.changeStatus()" ng-if="statistic.activeAuc && statistic.superAdmin">Отправить в архив</button>
		</div>
	</div>

	<div class="row" ng-if="statistic.activeAuc" style="margin-top: 20px;">
		<div class="col-xs-12 col-md-4 col-lg-3">
			<input type="search" class="form-control" placeholder="Поиск по названию" ng-model="statistic.query" ng-change="statistic.searchLots()" style="margin-bottom: 20px;">
		</div>
		<div class="col-xs-12 col-md-8 col-lg-9">
			<ul uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
			items-per-page="statistic.pagination.pageSize" total-items="statistic.pagination.totalItems" boundary-links="true" boundary-link-numbers="true" max-size="4" class="pagination pull-right" ng-model="statistic.pagination.currentPage" ng-change="statistic.changePage()"></ul>
		</div>
	</div>
	<div class="card-container" ng-if="statistic.activeAuc" style="margin-top: 0;">
		<div class="table-responsive">
			<table class="table table-hover prodList">
	    		<thead>
		    		<tr>
		    			<td class="text-center"><strong>№</strong></td>
		    			<td class="text-center"><strong>Лот</strong></td>
		    			<td class="text-center"><strong>Кол-во ставок</strong></td>
		    			<td class="text-center"><strong>Лидер</strong></td>
		    			<td class="text-center"><strong>Статус</strong></td>
		    			<td class="text-center"><strong>Текущая цена</strong></td>
		    		</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="lot in statistic.pagination.filtered" style="cursor: pointer;" title="Посмотреть историю ставок" ng-click="statistic.viewHistory(lot)">
	    				<td class="text-center">
		    				<span>{{lot.number}}</span>
		    			</td>
		    			<td class="prod-preview">
		    				<img ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_scale,g_center,h_70/{{lot.imgIds[0]}}.png">
		    				<div class="prodName">
		    					<span><strong>"{{lot.name}}"</strong></span>
		    				</div>
		    			</td>
		    			<td class="text-center">
		    				<span>{{lot.bets}}</span>
		    			</td>
		    			<td class="text-center">
		    				<span>{{lot.customer}}</span>
		    			</td>
		    			<td class="text-center">
			    			<span>{{lot.status}}</span>
		    			</td>
		    			<td class="text-center">
			    			<span>{{lot.price}} грн</span>
		    			</td>
		    		</tr>
	    		</tbody>
	    	</table>
		</div>
    </div>
    <div class="row" ng-if="statistic.activeAuc" style="margin-top: 20px; margin-bottom: -20px;">
		<div class="col-xs-12">
			<ul uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
			items-per-page="statistic.pagination.pageSize" total-items="statistic.pagination.totalItems" boundary-links="true" boundary-link-numbers="true" max-size="4" class="pagination pull-right" ng-model="statistic.pagination.currentPage" ng-change="statistic.changePage()"></ul>
		</div>
	</div>

	<script type="text/ng-template" id="lotHistory.html">
        <div class="modal-header">
            <div class="row">
            	<div class="col-xs-10">
            		<h3 class="modal-title" id="modal-title">{{modal.lot.name}}</h3>
            	</div>
	    		<div class="col-xs-2 close-icon">
	    			<span class="pull-right" ng-click="modal.close()">
	    				<i class="fa fa-times fa-lg" aria-hidden="true"></i>
	    			</span>
	    		</div>
	    	</div>
        </div>
        <div class="modal-body" id="modal-body">
			<uib-tabset active="activeJustified" justified="true">
				<uib-tab index="0" heading="История ставок">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<td class="text-center"><strong>Пользователь</strong></td>
								<td class="text-center"><strong>Время ставки</strong></td>
								<td class="text-center"><strong>Сумма</strong></td>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="bet in modal.lot.history">
								<td class="text-center">
									<span>{{bet.customer}}</span>
								</td>
								<td class="text-center">
									<span>{{bet.time}}</span>
								</td>
								<td class="text-center">
									<span>{{bet.price}} грн</span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</uib-tab>
				<uib-tab index="1" heading="История автоставок">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<td class="text-center"><strong>Пользователь</strong></td>
								<td class="text-center"><strong>Время ставки</strong></td>
								<td class="text-center"><strong>Статус</strong></td>
								<td class="text-center"><strong>Сумма</strong></td>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="bet in modal.lot.autobet_history">
								<td class="text-center">
									<span>{{bet.customer}}</span>
								</td>
								<td class="text-center">
									<span>{{bet.time}}</span>
								</td>
								<td class="text-center">
									<span>{{bet.status}}</span>
								</td>
								<td class="text-center">
									<span>{{bet.price}} грн</span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</uib-tab>
			</uib-tabset>

        </div>
    </script>
</div>