<div class="container-fluid" ng-controller="ArchiveOrdersController as archiveOrders">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>Закрытые сделки:</h2>
		</div>
	</div>
	<div class="row users_controls">
		<div class="col-xs-12 col-md-4 col-lg-3">
			<input type="search" class="form-control" placeholder="Поиск по номеру заказа" ng-model="archiveOrders.query" ng-change="archiveOrders.searchOrders()" style="margin-bottom: 20px;">
		</div>
		<div class="col-xs-12 col-md-8 col-lg-9">
			<ul uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
			items-per-page="archiveOrders.pagination.pageSize" total-items="archiveOrders.pagination.totalItems" boundary-links="true" boundary-link-numbers="true" max-size="4" class="pagination pull-right" ng-model="archiveOrders.pagination.currentPage" ng-change="archiveOrders.changePage()"></ul>
		</div>
	</div>
    <div class="card-container" style="margin-top: 0">
    	<div class="table-responsive">
    		<table class="table table-hover userList">
	    		<thead>
		    		<tr class="row">
		    			<td class="col-xs-2 text-center"><strong>№ Заказа</strong></td>
		    			<td class="col-xs-3 text-center"><strong>Пользователь</strong></td>
		    			<td class="col-xs-2 text-center"><strong>Комментарий</strong></td>
		    			<td class="col-xs-2 text-center"><strong>Действия</strong></td>
		    		</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="order in archiveOrders.pagination.filtered" class="row">
		    			<td class="col-xs-2 text-center">
		    				<span><strong>{{order.orderNumber}}</strong></span>
		    			</td>
		    			<td class="col-xs-3 text-center">
			    			<span class="text-primary">
			    				<strong style="cursor: pointer" ng-click="archiveOrders.viewCustomer(order.customer)">{{order.customer}}</strong>
			    			</span>
		    			</td>
		    			<td class="col-xs-5 text-center">
			    			<span>{{order.comment}}</span>
		    			</td>
		    			<td class="col-xs-2 text-center">
		    				<div class="inline-btns">
			    				<button type="button" class="no-border" title="Просмотреть заказ" ng-click="archiveOrders.viewOrder(order)">
			    					<i class="fa fa-eye fa-lg" aria-hidden="true"></i>
			    				</button>
			    			</div>
		    			</td>
		    		</tr>
	    		</tbody>
	    	</table>
    	</div>
    </div>
    <div class="row" style="margin-top: 20px;">
    	<div class="col-xs-12">
			<ul uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
			items-per-page="archiveOrders.pagination.pageSize" total-items="archiveOrders.pagination.totalItems" boundary-links="true" boundary-link-numbers="true" max-size="4" class="pagination pull-right" ng-model="archiveOrders.pagination.currentPage" ng-change="archiveOrders.changePage()"></ul>
		</div>
    </div>
    <script type="text/ng-template" id="userProfile.html">
    	<div class="row">
    		<div class="col-xs-12 close-icon">
    			<span class="pull-right" ng-click="modal.close()">
    				<i class="fa fa-times fa-lg" aria-hidden="true"></i>
    			</span>
    		</div>
    	</div>
    	<div class="modal-profile">
	    	<form class="form-horizontal" role="form">
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">Имя:</label>
			    	<div class="col-sm-4">
			      		<p class="form-control-static">{{modal.user.name}}</p>
			    	</div>
			    	<label class="col-sm-2 control-label">Email:</label>
			    	<div class="col-sm-4">
			      		<p class="form-control-static">{{modal.user.email}}</p>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">Фамилия:</label>
			    	<div class="col-sm-4">
			      		<p class="form-control-static">{{modal.user.surname}}</p>
			    	</div>
			    	<label class="col-sm-2 control-label">Телефон:</label>
			    	<div class="col-sm-4">
			      		<p class="form-control-static">{{modal.user.tel}}</p>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">Страна:</label>
			    	<div class="col-sm-4">
			      		<p class="form-control-static">{{modal.user.country}}</p>
			    	</div>
			    	<label class="col-sm-2 control-label">Почт. индекс:</label>
			    	<div class="col-sm-4">
			    		<p class="form-control-static">{{modal.user.postIndex}}</p>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">Область:</label>
			    	<div class="col-sm-10">
			    		<p class="form-control-static">{{modal.user.region}}</p>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">Город:</label>
			    	<div class="col-sm-10">
			    		<p class="form-control-static">{{modal.user.locality}}</p>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">Адрес:</label>
			    	<div class="col-sm-10">
			      		<p class="form-control-static">{{modal.user.address}}</p>
			    	</div>
			  	</div>
			</form>
		</div>
    </script>
    <script type="text/ng-template" id="order.html">
    	<div class="row">
    		<div class="col-xs-12 close-icon">
    			<span class="pull-right" ng-click="modal.close()">
    				<i class="fa fa-times fa-lg" aria-hidden="true"></i>
    			</span>
    		</div>
    	</div>
    	<div class="modal-profile">
	    	<div class="table-responsive">
				<table class="table items-table">
					<tr ng-repeat="product in modal.order.items">
						<td class="item-avatar">
							<img class="center-block" ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_scale,g_center,h_80/{{product.imgIds[0]}}.png">
						</td>
						<td class="text-center">
							<h4 class="text-center">"{{product.name}}"</h4>
						</td>
						<td class="text-center"><strong>{{product.price}} грн</strong></td>
					</tr>	
					<tr>
						<td>
							<h3>Итого:</h3>
						</td>
						<td></td>
						<td class="text-center">
							<h3>{{modal.order.price}} грн</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
    </script>
</div>