<div class="container-fluid" ng-controller="AdminAuctionController as adminAuction">

	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<h2>Аукцион:</h2>
		</div>
		<div class="col-xs-6 col-sm-8">
			<button style="margin-left: 15px;" class="addUser" type="button" title="Создать аукцион" ui-sref="admin.createAuction" ng-if="adminAuction.showAddBtn"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="row" ng-if="adminAuction.currentAuction">
		<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<div class="card-container auction-caption">
				<h3 class="text-center">{{adminAuction.currentAuction.name}}</h3>
				<h5 class="text-center">{{adminAuction.currentAuction.date}}</h5>
				<div class="crud-controls">
					<div class="inline-btns">
	    				<button type="button" class="no-border">
	    					<i class="fa fa-pencil fa-lg" aria-hidden="true" ng-click="adminAuction.edit()"></i>
	    				</button>
	    				<button type="button" class="no-border" ng-click="adminAuction.remove()">
	    					<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
	    				</button>
	    			</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="adminAuction.currentAuction && adminAuction.superAdmin">
		<div class="col-xs-12 text-center">
			<button type="button" class="btn btn-success publish-btn btn-lg" ng-if="!adminAuction.publish" ng-click="adminAuction.changeStatus(true)">Опубликовать</button>
			<button type="button" class="btn btn-danger publish-btn btn-lg" ng-if="adminAuction.publish" ng-click="adminAuction.changeStatus(false)">Скрыть публикацию</button>
		</div>
	</div>
	<div class="row" ng-if="adminAuction.currentAuction">
		<div class="col-xs-6 col-sm-3 col-md-2">
			<h2>Лоты:</h2>
		</div>
		<div class="col-xs-6 col-sm-3" ng-if="!adminAuction.publish">
			<button class="addUser" type="button" title="Добавить лот" ui-sref="admin.createLot"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="row" ng-if="adminAuction.currentAuction" style="margin-top: 20px;">
		<div class="col-xs-12 col-md-4 col-lg-3">
			<input type="search" class="form-control" placeholder="Поиск по названию" ng-model="adminAuction.query" ng-change="adminAuction.searchLots()" style="margin-bottom: 20px;">
		</div>
		<div class="col-xs-12 col-md-8 col-lg-9">
			<ul uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
			items-per-page="adminAuction.pagination.pageSize" total-items="adminAuction.pagination.totalItems" boundary-links="true" boundary-link-numbers="true" max-size="4" class="pagination pull-right" ng-model="adminAuction.pagination.currentPage" ng-change="adminAuction.changePage()"></ul>
		</div>
	</div>
	<div class="card-container" ng-if="adminAuction.currentAuction" style="margin-top: 0;">
		<div class="table-responsive">
			<table class="table table-hover prodList">
	    		<thead>
		    		<tr>
		    			<td class="text-center"><strong>№</strong></td>
		    			<td class="text-center"><strong>Лот</strong></td>
		    			<td class="text-center"><strong>Категория</strong></td>
		    			<td class="text-center"><strong>Подкатегория</strong></td>
		    			<td class="text-center"><strong>Топ</strong></td>
		    			<td class="text-center"><strong>Текущая цена</strong></td>
		    			<td class="text-center"></td>
		    		</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="lot in adminAuction.pagination.filtered">
	    				<td class="text-center">
		    				<span>{{lot.number}}</span>
		    			</td>
		    			<td class="prod-preview">
		    				<img ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/c_scale,g_center,h_70/{{lot.imgIds[0]}}.png">
		    				<div class="prodName">
		    					<span><strong>"{{lot.name}}"</strong></span>
		    				</div>
		    			</td>
		    			<td class="text-center">
		    				<span>{{lot.category}}</span>
		    			</td>
		    			<td class="text-center">
		    				<span>{{lot.subcategory}}</span>
		    			</td>
		    			<td class="text-center">
			    			<span ng-if="lot.top" class="text-success"><strong>Да</strong></span>
			    			<span ng-if="!lot.top" class="text-danger"><strong>Нет</strong></span>
		    			</td>
		    			<td class="text-center">
			    			<span>{{lot.price}} грн</span>
		    			</td>
		    			<td class="text-center">
		    				<div class="inline-btns">
			    				<button type="button" class="no-border" title="Редактировать лот" ui-sref="admin.editLot({ lot_id: lot._id })">
			    					<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
			    				</button>
			    				<button type="button" class="no-border" title="Удалить лот" ng-click="adminAuction.removeLot(lot)" ng-if="!adminAuction.publish">
			    					<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
			    				</button>
			    			</div>
		    			</td>
		    		</tr>
	    		</tbody>
	    	</table>
		</div> 	
    </div>
    <div class="row" ng-if="adminAuction.currentAuction" style="margin-top: 20px; margin-bottom: -20px;">
		<div class="col-xs-12">
			<ul uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
			items-per-page="adminAuction.pagination.pageSize" total-items="adminAuction.pagination.totalItems" boundary-links="true" boundary-link-numbers="true" max-size="4" class="pagination pull-right" ng-model="adminAuction.pagination.currentPage" ng-change="adminAuction.changePage()"></ul>
		</div>
	</div>



	<script type="text/ng-template" id="editAuction.html">
        <div class="modal-body" id="modal-body">
        	<div class="row">
        		<div class="col-xs-10 col-xs-offset-1">
        			<input type="text" class="form-control input-lg" ng-model="modal.auction.name">
        		</div>
        	</div>
        	<div class="row" style="margin-top: 30px;">
        		<div class="col-xs-6 text-center">
        			<h4>Время начала торгов:</h4>
        		</div>
        		<div class="col-xs-6">
        			<h4>{{modal.timeToStart}}</h4>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-4 col-xs-offset-5">
        			 <div style="margin-top: 30px; margin-left: -20px;" uib-timepicker ng-model="modal.dt" ng-change="modal.changeValue()" hour-step="1" minute-step="5" show-meridian="false"></div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-6">
        			<div style="margin-top: 30px; margin-left: 157px;" uib-datepicker ng-model="modal.dt" datepicker-options="modal.datePickerOptions" ng-change="modal.changeValue()"></div>
        		</div>
        	</div>
        	<div class="row" style="margin-top: 30px; margin-bottom: 20px;">
        		<div class="col-xs-7">
        			<button type="button" class="btn btn-success btn-lg pull-right" ng-click="modal.save()">Сохранить изменения</button>
        		</div>
        		<div class="col-xs-5">
        			<button type="button" class="btn btn-danger btn-lg pull-left" ng-click="modal.cancel()">Отмена</button>
        		</div>
        	</div>
        </div>
    </script>

</div>