<div class="container" ng-controller="AdminCreateLot as adminCreateLot">
    <div class="card-container">
	    <div ng-if="!adminCreateLot.addProductSuccess" class="smooth-change">
		    <div class="row">
			    <div class="col-md-6 col-md-offset-3">
			    	<input type="text" class="form-control input-lg product-caption" name="product-caption" placeholder="Название лота" ng-model="adminCreateLot.lot.name">
			    </div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="info-msg">
						<h5><i>Чтобы добавить фото, нажмите на выделенную область или перетащите сюда изображение. Чтобы изменить фото - просто сделайте это повторно.</i></h5>
					</div>
					<div class="drag-area" ngf-select ngf-drop ng-model="adminCreateLot.files[0]" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-drag-over-class="'dragover'" ng-change="adminCreateLot.check()">
						<img class="picture-preview" ng-if="adminCreateLot.files[0]" ngf-thumbnail="adminCreateLot.files[0]">
						<img class="no-picture" ng-if="!adminCreateLot.files[0]" src="assets/img/icon-photo.png">
					</div>
					<div class="drag-area-gallery">
						<div class="drag-area-item" ngf-select ngf-drop ng-model="adminCreateLot.files[1]" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-drag-over-class="'dragover'" ng-change="adminCreateLot.check()">
							<img class="picture-preview" ng-if="adminCreateLot.files[1]" ngf-thumbnail="adminCreateLot.files[1]">
							<img class="no-picture" ng-if="!adminCreateLot.files[1]" src="assets/img/icon-photo.png">
						</div>
						<div class="drag-area-item" ngf-select ngf-drop ng-model="adminCreateLot.files[2]" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-drag-over-class="'dragover'" ng-change="adminCreateLot.check()">
							<img class="picture-preview" ng-if="adminCreateLot.files[2]" ngf-thumbnail="adminCreateLot.files[2]">
							<img class="no-picture" ng-if="!adminCreateLot.files[2]" src="assets/img/icon-photo.png">
						</div>
						<div class="drag-area-item" ngf-select ngf-drop ng-model="adminCreateLot.files[3]" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-drag-over-class="'dragover'" ng-change="adminCreateLot.check()">
							<img class="picture-preview" ng-if="adminCreateLot.files[3]" ngf-thumbnail="adminCreateLot.files[3]">
							<img class="no-picture" ng-if="!adminCreateLot.files[3]" src="assets/img/icon-photo.png">
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<form class="form-horizontal" role="form" name="productCreating" novalidate ng-submit="adminCreateLot.addProduct()">
						<div class="form-group">
							<div class="col-xs-12">
								<textarea maxlength="1500" rows="10" class="form-control product-description" placeholder="Полное описание лота. Будет отображаться в детальной информации о лоте." ng-model="adminCreateLot.lot.main_description"></textarea>
							</div>
						</div>
		  				<div class="form-group">
		  					<div class="col-xs-12 product-prop">
		  						<div class="row">
					    			<label class="col-xs-2 control-label">Год</label>
					    			<div class="col-xs-2">
					    				<input type="number" class="form-control" ng-model="adminCreateLot.lot.year.value" required>
					    			</div>
					    			<div class="col-xs-4">
					    				<label class="radio-inline">
									        <input type="radio" name="era-options" value="new" ng-model="adminCreateLot.lot.year.era"> н.э.
									    </label>
									    <label class="radio-inline">
									        <input type="radio" name="era-options" value="old" ng-model="adminCreateLot.lot.year.era"> до н.э.
									    </label>
					    			</div>
					    		</div>
		  					</div>
		  					<div class="col-sm-6 product-prop" ng-repeat="prop in adminCreateLot.lot.props">
		  						<div class="row">
					    			<label class="col-xs-4 control-label">{{prop.name}}</label>
					    			<div class="col-xs-6">
					    				<input type="text" class="form-control" ng-if="prop.type == 'Текст'" ng-model="prop.currentValue">
					      				<select class="form-control" ng-if="prop.type == 'Выбор'" ng-model="prop.currentValue">
					      					<option ng-repeat="type in prop.values | orderBy">{{type}}</option>
					      				</select>
					    			</div>
					    			<div class="col-xs-1" style="padding-top: 5px;">
					    				<i class="fa fa-pencil" aria-hidden="true" style="cursor: pointer;" title="Редактировать атрибут" ng-click="adminCreateLot.editAttr(prop)"></i>
					    			</div>
					    		</div>
			    			</div>
			    			<div class="col-sm-4 col-sm-offset-2">
			    				<button class="addUser center-block" type="button" title="Добавить атрибут" style="margin-top: 0;" ng-click="adminCreateLot.addAttr()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
			    			</div>
		  				</div>
		  				<div class="form-group">
			    			<label class="col-sm-2 control-label">Категория</label>
			    			<div class="col-sm-4">
			      				<select class="form-control" ng-model="adminCreateLot.lot.category" ng-change="adminCreateLot.getSubCat()">
			      					<option ng-repeat="category in adminCreateLot.categories">{{category.name}}</option>
			      				</select>
			    			</div>
			    			<label class="col-sm-2 control-label" ng-if="adminCreateLot.lot.category">Подкатегория</label>
			    			<div class="col-sm-4" ng-if="adminCreateLot.lot.category">
			      				<select class="form-control" ng-model="adminCreateLot.lot.subcategory">
			      					<option ng-repeat="sub in adminCreateLot.subcategories track by $index">{{sub}}</option>
			      				</select>
			    			</div>
		  				</div>
		  				<div class="form-group">
			    			<label class="col-sm-3 control-label">Начальная цена</label>
			    			<div class="col-sm-2">
			      				<input type="number" class="form-control" ng-model="adminCreateLot.lot.price" required>
			    			</div>
			    			<div class="col-sm-1 product-price-uah">
			      				<span><strong>грн</strong></span>
			    			</div>
			    			<label class="col-sm-2 control-label">Топ лот</label>
			    			<div class="col-sm-4 availability-checkbox">
			      				<input type="checkbox" ng-model="adminCreateLot.lot.top">
			    			</div>
		  				</div>
		  				<div class="form-group">
		    				<div class="col-xs-12">
		      					<button type="submit" class="btn btn-lg btn-success center-block" style="margin-top: 50px;" ng-disabled="productCreating.$invalid || !adminCreateLot.files[0] || !adminCreateLot.lot.name || !adminCreateLot.lot.year.era">Добавить лот</button>
		    				</div>
		  				</div>
					</form>
				</div>
			</div>
		</div>
		<div class="processing smooth-change" ng-if="adminCreateLot.processing">
			<div class="processing-icon text-center">
				<i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
			</div>
		</div>
		<div class="smooth-change" ng-if="adminCreateLot.addProductSuccess">
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-success extend-property text-center">
				      	<span><strong>Лот успешно добавлен!</strong></span>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					 <button type="button" class="btn btn-success pull-right" ng-click="adminCreateLot.backToForm()">Добавить ещё</button>
				</div>
				<div class="col-xs-6">
					 <button type="button" class="btn btn-primary pull-left" ui-sref="admin.auction">Вернуться к списку лотов</button>
				</div>
			</div>
		</div>
    </div>

    <script type="text/ng-template" id="attrModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Добавить атрибут</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
				<div class="form-group">
					<label for="modalAttrName"> Название</label>
					<input type="text" class="form-control" id="modalAttrName" placeholder="Имя атрибута" ng-model="modal.attribute.name">
					<p><i>(показывается на сайте)</i></p>
				</div>
				<div class="form-group">
					<label for="modalAttrObjField"> Мета-имя</label>
					<input type="text" class="form-control" id="modalAttrObjField" placeholder="Служебное имя" maxlength="28" pattern="^[a-zA-Z]+$" ng-model="modal.attribute.meta">
					<p><i>(Слово латинскими буквами без пробелов, не больше 28 символов. Будет служить для построения модели товара)</i></p>
				</div>
				<div class="form-group">
					<label for="modalAttrType"> Тип</label>
					<select class="form-control" id="modalAttrType" ng-model="modal.attribute.type">
						<option value="Текст">Текст</option>
						<option value="Выбор">Выбор</option>
					</select>
				</div>
			</form>
			<div class="row">
				<div class="col-md-3" ng-if="modal.attribute.type == 'Выбор'">
					<h4 style="padding-top: 15px;">Значения:</h4>
				</div>
				<div class="col-md-9" ng-if="modal.attribute.type == 'Выбор'">
					<button uib-popover-template="'modalAddProp.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'outsideClick'" class="addUser" type="button" title="Добавить значение"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
				</div>
				<div class="col-md-12" ng-if="modal.attribute.type == 'Выбор'">
					<ul class="valueList">
						<li ng-repeat="value in modal.attribute.values track by $index">{{value}}<i title="Удалить" class="fa fa-times pull-right" aria-hidden="true" ng-click="modal.removeValue(value)"></i></li>
					</ul>
				</div>
				<div class=" col-md-12 error-message">
					<div class="alert alert-danger toggle" ng-if="modal.alert">
	                  	<span> <strong>Ошибка!</strong> {{modal.alert}}</span>
	                </div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="modal.save()" ng-disabled="!modal.attribute.name || !modal.attribute.meta || !modal.attribute.type">Сохранить</button>
            <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Отмена</button>
        </div>
    </script>

    <script type="text/ng-template" id="modalAddProp.html">
    	<div class="rolePopover">
    		<input type="text" class="form-control" placeholder="Название" ng-model="modal.inputValue">
    		<button type="button" class="btn btn-primary propPlus center-block" ng-click="modal.appendValue()">Добавить</button>
    	</div>
    </script>

    <script type="text/ng-template" id="editPropPopover.html">
    	<div class="rolePopover">
    		<input type="text" class="form-control" placeholder="Название" ng-model="modal.inputValue">
    		<button type="button" class="btn btn-primary propPlus center-block" ng-click="modal.appendValue()">Добавить</button>
    	</div>
    </script>

    <script type="text/ng-template" id="editPropModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Редактирование атрибута</h3>
        </div>
        <div class="modal-body" id="modal-body">
	        <div class="row">
	        	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	        		<form>
						<div class="form-group">
							<label for="modalAttrName"> Название</label>
							<input type="text" class="form-control" id="modalAttrName" placeholder="Имя атрибута" ng-model="modal.attribute.name">
							<p><i>(показывается на сайте)</i></p>
						</div>
						<div class="form-group">
							<label for="modalAttrObjField"> Мета-имя</label>
							<input type="text" class="form-control" id="modalAttrObjField" placeholder="Служебное имя" maxlength="28" pattern="^[a-zA-Z]+$" ng-model="modal.attribute.meta">
							<p><i>(Слово латинскими буквами без пробелов, не больше 28 символов. Будет служить для построения модели товара)</i></p>
						</div>
						<div class="form-group">
							<label for="modalAttrType"> Тип</label>
							<select class="form-control" id="modalAttrType" ng-model="modal.attribute.type">
								<option value="Текст">Текст</option>
								<option value="Выбор">Выбор</option>
							</select>
						</div>
					</form>
					<div class="row" ng-if="!modal.edit">
						<div class="col-xs-4 col-sm-3" ng-if="modal.attribute.type == 'Выбор'">
							<h4 style="padding-top: 15px;">Значения:</h4>
						</div>
						<div class="col-xs-3 col-sm-3" ng-if="modal.attribute.type == 'Выбор'">
							<button uib-popover-template="'editPropPopover.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'outsideClick'" class="addUser" type="button" title="Добавить пользователя"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
						</div>
						<div class="col-xs-5 col-sm-6" ng-if="modal.attribute.type == 'Выбор'">
							<h5 style="padding-top: 20px; cursor: pointer;" class="pull-right text-primary" ng-click="modal.edit = true">Редактировать</h5>
						</div>
						<div class="col-xs-12" ng-if="modal.attribute.type == 'Выбор'">
							<ul class="valueList">
								<li ng-repeat="value in modal.attribute.values track by $index">{{value}}<i title="Удалить" class="fa fa-times pull-right" aria-hidden="true" ng-click="modal.removeValue(value)"></i></li>
							</ul>
						</div>
						<div class=" col-xs-12 error-message">
							<div class="alert alert-danger toggle" ng-if="modal.alert">
			                  	<span> <strong>Ошибка!</strong> {{modal.alert}}</span>
			                </div>
						</div>
					</div>
					<div class="row" ng-if="modal.edit" style="margin-top: 40px;">
						<div class="col-xs-8 col-xs-offset-2">
							<form>
								<div class="form-group" ng-repeat="value in modal.attribute.values track by $index">
									<input type="text" class="form-control" ng-model="value" ng-change="modal.checkValid(value, $index)">
								</div>
								<div class="form-group">
									<button class="btn btn-primary center-block" type="button" ng-click="modal.editSubcats()" ng-disabled="!modal.validForm">OK!</button>
								</div>
							</form>
						</div>
					</div>
	        	</div>
	        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="modal.save()" ng-disabled="!modal.attribute.name || !modal.attribute.meta || !modal.attribute.type || modal.edit">Сохранить</button>
            <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Отмена</button>
        </div>
    </script>
</div>