<div class="container" ng-controller="AdminEditProduct as adminEditProd">
    <div class="card-container">
	    <div ng-if="!adminEditProd.addProductSuccess" class="smooth-change">
		    <div class="row">
			    <div class="col-md-6 col-md-offset-3">
			    	<input type="text" class="form-control input-lg product-caption" name="product-caption" placeholder="Название товара" ng-model="adminEditProd.product.name">
			    </div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="info-msg">
						<h5><i>Чтобы изменить фото товара, нажмите на выделенную область или перетащите сюда изображение.</i></h5>
					</div>
					<div class="drag-area" ngf-select ngf-drop ng-model="adminEditProd.files[0]" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-drag-over-class="'dragover'" ng-change="adminEditProd.check()">
						<img class="picture-preview" ng-if="adminEditProd.files[0]" ngf-thumbnail="adminEditProd.files[0]">
						<img class="picture-preview" ng-if="!adminEditProd.files[0] && adminEditProd.product.imgIds[0]" ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/{{adminEditProd.product.imgIds[0]}}.jpg">
						<div class="remove-photo" ng-if="!adminEditProd.files[0] && adminEditProd.product.imgIds[0]" ng-click="adminEditProd.removePhoto(0); $event.stopPropagation()">
							<i class="fa fa-times fa-lg" aria-hidden="true" title="Удалить фото"></i>
						</div>
						<img class="no-picture" ng-if="!adminEditProd.files[0] && !adminEditProd.product.imgIds[0]" src="assets/img/icon-photo.png">
					</div>
					<div class="drag-area-gallery">
						<div class="drag-area-item" ngf-select ngf-drop ng-model="adminEditProd.files[1]" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-drag-over-class="'dragover'" ng-change="adminEditProd.check()">
							<img class="picture-preview" ng-if="adminEditProd.files[1]" ngf-thumbnail="adminEditProd.files[1]">
							<img class="picture-preview" ng-if="!adminEditProd.files[1] && adminEditProd.product.imgIds[1]" ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/{{adminEditProd.product.imgIds[1]}}.jpg">
							<div class="remove-photo" ng-if="!adminEditProd.files[1] && adminEditProd.product.imgIds[1]" ng-click="adminEditProd.removePhoto(1); $event.stopPropagation()">
								<i class="fa fa-times fa-lg" aria-hidden="true" title="Удалить фото"></i>
							</div>
							<img class="no-picture" ng-if="!adminEditProd.files[1] && !adminEditProd.product.imgIds[1]" src="assets/img/icon-photo.png">
						</div>
						<div class="drag-area-item" ngf-select ngf-drop ng-model="adminEditProd.files[2]" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-drag-over-class="'dragover'" ng-change="adminEditProd.check()">
							<img class="picture-preview" ng-if="adminEditProd.files[2]" ngf-thumbnail="adminEditProd.files[2]">
							<img class="picture-preview" ng-if="!adminEditProd.files[2] && adminEditProd.product.imgIds[2]" ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/{{adminEditProd.product.imgIds[2]}}.jpg">
							<div class="remove-photo" ng-if="!adminEditProd.files[2] && adminEditProd.product.imgIds[2]" ng-click="adminEditProd.removePhoto(2); $event.stopPropagation()">
								<i class="fa fa-times fa-lg" aria-hidden="true" title="Удалить фото"></i>
							</div>
							<img class="no-picture" ng-if="!adminEditProd.files[2] && !adminEditProd.product.imgIds[2]" src="assets/img/icon-photo.png">
						</div>
						<div class="drag-area-item" ngf-select ngf-drop ng-model="adminEditProd.files[3]" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-drag-over-class="'dragover'" ng-change="adminEditProd.check()">
							<img class="picture-preview" ng-if="adminEditProd.files[3]" ngf-thumbnail="adminEditProd.files[3]">
							<img class="picture-preview" ng-if="!adminEditProd.files[3] && adminEditProd.product.imgIds[3]" ng-src="http://res.cloudinary.com/dsimmrwjb/image/upload/{{adminEditProd.product.imgIds[3]}}.jpg">
							<div class="remove-photo" ng-if="!adminEditProd.files[3] && adminEditProd.product.imgIds[3]" ng-click="adminEditProd.removePhoto(3); $event.stopPropagation()">
								<i class="fa fa-times fa-lg" aria-hidden="true" title="Удалить фото"></i>
							</div>
							<img class="no-picture" ng-if="!adminEditProd.files[3] && !adminEditProd.product.imgIds[3]" src="assets/img/icon-photo.png">
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<form class="form-horizontal" role="form" name="productEditing" novalidate ng-submit="adminEditProd.addProduct()">
						<div class="form-group">
							<div class="col-xs-12">
								<textarea maxlength="1500" rows="10" class="form-control product-description" placeholder="Полное описание товара. Будет отображаться в детальной информации о товаре." ng-model="adminEditProd.product.main_description"></textarea>
							</div>
						</div>
		  				<div class="form-group">
		  					<div class="col-sm-6 product-prop" ng-repeat="prop in adminEditProd.product.props">
		  						<div class="row">
					    			<label class="col-xs-4 control-label">{{prop.name}}</label>
					    			<div class="col-xs-8">
					    				<input type="text" class="form-control" ng-if="prop.type == 'Текст'" ng-model="prop.currentValue">
					      				<select class="form-control" ng-if="prop.type == 'Выбор'" ng-model="prop.currentValue">
					      					<option ng-repeat="type in prop.values">{{type}}</option>
					      				</select>
					    			</div>
					    		</div>
			    			</div>
			    			<div class="col-sm-4 col-sm-offset-2">
			    				<button class="addUser center-block" type="button" title="Добавить атрибут" style="margin-top: 0;" ng-click="adminEditProd.addAttr()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
			    			</div>
		  				</div>
		  				<div class="form-group">
			    			<label class="col-sm-2 control-label">Категория</label>
			    			<div class="col-sm-4">
			      				<select class="form-control" ng-model="adminEditProd.product.category" ng-change="adminEditProd.getSubCat()">
			      					<option ng-repeat="category in adminEditProd.categories">{{category.name}}</option>
			      				</select>
			    			</div>
			    			<label class="col-sm-2 control-label" ng-if="adminEditProd.product.category">Подкатегория</label>
			    			<div class="col-sm-4" ng-if="adminEditProd.product.category">
			      				<select class="form-control" ng-model="adminEditProd.product.subcategory">
			      					<option ng-repeat="sub in adminEditProd.subcategories track by $index">{{sub}}</option>
			      				</select>
			    			</div>
		  				</div>
		  				<div class="form-group">
			    			<label class="col-sm-2 control-label">Цена</label>
			    			<div class="col-sm-3">
			      				<input type="number" class="form-control" ng-model="adminEditProd.product.price" required>
			    			</div>
			    			<div class="col-sm-1 product-price-uah">
			      				<span><strong>грн</strong></span>
			    			</div>
			    			<label class="col-sm-2 control-label">Наличие</label>
			    			<div class="col-sm-4 availability-checkbox">
			      				<input type="checkbox" ng-model="adminEditProd.product.availability">
			    			</div>
		  				</div>
		  				<div class="form-group">
		  					<div class=" col-md-12 error-message">
								<div class="alert alert-danger toggle" ng-if="adminEditProd.alert">
				                  	<span> <strong>Ошибка!</strong> {{adminEditProd.alert}}</span>
				                </div>
							</div>
		  				</div>
		  				<div class="form-group">
		    				<div class="col-md-6">
		      					<button type="submit" class="btn btn-lg btn-success pull-right" ng-disabled="productEditing.$invalid || !adminEditProd.product.name">Сохранить изменения</button>
		    				</div>
		    				<div class="col-md-6">
		      					<button type="submit" class="btn btn-lg btn-danger pull-left" ui-sref="admin.products">Отмена</button>
		    				</div>
		  				</div>
					</form>
				</div>
			</div>
		</div>
		<div class="processing smooth-change" ng-if="adminEditProd.processing">
			<div class="processing-icon text-center">
				<i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 smooth-change" ng-if="adminEditProd.addProductSuccess">
				<div class="alert alert-success extend-property text-center">
			      	<span><strong>Данные товара успешно обновлены!</strong></span>
			    </div>
			    <button type="button" class="btn btn-primary center-block" ui-sref="admin.products">Вернуться к списку товаров</button>
			</div>
		</div>
    </div>

    <script type="text/ng-template" id="attrModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Добавить атрибут</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
				<div class="form-group">
					<label for="modalAttrName"> Название</label>
					<input type="text" class="form-control" id="modalAttrName" placeholder="Имя атрибута" ng-model="modal.attribute.name">
					<p><i>(показывается на сайте)</i></p>
				</div>
				<div class="form-group">
					<label for="modalAttrObjField"> Мета-имя</label>
					<input type="text" class="form-control" id="modalAttrObjField" placeholder="Служебное имя" maxlength="28" pattern="^[a-zA-Z]+$" ng-model="modal.attribute.meta">
					<p><i>(Слово латинскими буквами без пробелов, не больше 28 символов. Будет служить для построения модели товара)</i></p>
				</div>
				<div class="form-group">
					<label for="modalAttrType"> Тип</label>
					<select class="form-control" id="modalAttrType" ng-model="modal.attribute.type">
						<option value="Текст">Текст</option>
						<option value="Выбор">Выбор</option>
					</select>
				</div>
			</form>
			<div class="row">
				<div class="col-md-3" ng-if="modal.attribute.type == 'Выбор'">
					<h4 style="padding-top: 15px;">Значения:</h4>
				</div>
				<div class="col-md-9" ng-if="modal.attribute.type == 'Выбор'">
					<button uib-popover-template="'modalAddProp.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'outsideClick'" class="addUser" type="button" title="Добавить значение"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
				</div>
				<div class="col-md-12" ng-if="modal.attribute.type == 'Выбор'">
					<ul class="valueList">
						<li ng-repeat="value in modal.attribute.values track by $index">{{value}}<i title="Удалить" class="fa fa-times pull-right" aria-hidden="true" ng-click="modal.removeValue(value)"></i></li>
					</ul>
				</div>
				<div class=" col-md-12 error-message">
					<div class="alert alert-danger toggle" ng-if="modal.alert">
	                  	<span> <strong>Ошибка!</strong> {{modal.alert}}</span>
	                </div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="modal.save()" ng-disabled="!modal.attribute.name || !modal.attribute.meta || !modal.attribute.type">Сохранить</button>
            <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Отмена</button>
        </div>
    </script>

    <script type="text/ng-template" id="modalAddProp.html">
    	<div class="rolePopover">
    		<input type="text" class="form-control" placeholder="Название" ng-model="modal.inputValue">
    		<button type="button" class="btn btn-primary propPlus center-block" ng-click="modal.appendValue()">Добавить</button>
    	</div>
    </script>
</div>