.sidebar {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	font-size: 14px;
	background-color: #1b273e;
	color: #dacece;
	box-shadow: 4px 0 14px 0 rgba(0,0,0,0.5); 

	@media (min-width : 991px) and (max-width : 1199px) {
		width: 250px;
	}

	.underline {
		margin-top: 20px;
		border-bottom: 1px solid lightgray;
	}

	.logout-btn {
		margin: 20px 30px 0 30px;
		cursor: pointer;
		
		.come-back {
			color: #99d883;
		}
		
		.fa-sign-out {
			margin-left: 5px;
		}
	}

	.user_email {
		margin-top: 20px;
		font-size: 16px;
	}

	.edit_profile {
		cursor: pointer;
		color: #99d883;
		font-size: 14px;
	}

	.menu_item {
		margin-left: 30px;

		h4 {
			padding: 5px;
			font-size: 16px;
		}

		ul {
			margin-left: -20px;
		}

		li {
			list-style: none;
			padding: 5px;
			cursor: pointer;
		}
	}
}

.admin-content {
	margin-left: 250px;
}


