.auction-timer {
	

	.timer-item {
		display: inline-block;
	}

	.time-count {
		font-size: 60px;

		@media (max-width : 767px) {
			font-size: 40px;
		}
	}

	.double-dot {
		padding-left: 10px;
		padding-right: 10px;
		vertical-align: top;
	}

	.timer-signature {
		font-size: 12px;
		color: gray;
	}
}

.badge-new {
	position: absolute;
	top: -45px;
	left: -20px;
	width: 60px;
	height: 60px;
}

.badge-sold {
	@extend .badge-new;
	left: -15px;
}

