.lot {
	position: relative;
	border: 1px solid lightgray;
	background-color: #fff;
	border-radius: 4px;
	width: 100%;
	height: 360px;
	margin-bottom: 30px;
	cursor: pointer;
	box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.3);
	@extend .transition;

	@media (max-width : 1199px) {
		height: 350px;
	}


	&:hover {
		-webkit-box-shadow: 8px 8px 15px -2px rgba(0,0,0,0.3);
		-moz-box-shadow: 8px 8px 15px -2px rgba(0,0,0,0.3);
		-o-box-shadow: 8px 8px 15px -2px rgba(0,0,0,0.3);
		-ms-box-shadow: 8px 8px 15px -2px rgba(0,0,0,0.3);
		box-shadow: 8px 8px 15px -2px rgba(0,0,0,0.3);
		-moz-transform: translateX(-1px) translateY(-1px);
		-webkit-transform: translateX(-1px) translateY(-1px);
		-o-transform: translateX(-1px) translateY(-1px);
		-ms-transform: translateX(-1px) translateY(-1px);
		transform: translateX(-1px) translateY(-1px);
	}
	

	img {
		margin-top: 25px;
		margin-bottom: 25px;
		max-height: 150px;
		max-width: 100%;

		@media (min-width : 992px) and (max-width : 1199px) {
			max-height: 120px;
		}

		@media (min-width : 768px) and (max-width : 991px) {
			max-height: 140px;
		}

		@media (max-width : 767px) {
			max-height: 120px;
		}
	}

	.product_caption {
		height: 45px;
	}

	.price {
		color: green;
		font-size: 18px;
		font-weight: bold;
	}

	.detail-info {
		color: #275bec;
		font-size: 1.2em;
		margin-right: 20px;
	}
}

.product {
	@extend .lot;
	height: 270px;

	@media (max-width : 1199px) {
		height: 260px;
	}
}

.filters {
	margin-top: -20px;
}

.category-filter {
	@media (max-width : 767px) {
		font-size: 12px;
	}
}

$active_color: #211818;

.toggle-view {
	margin: 0 5px 0 5px;
	color: #76808e;
}

.active-tab {
	color: $active_color;
}

.product-list {
	tr {
		cursor: pointer;
	}

	td {
		vertical-align: middle !important;
	}

	.price {
		color: green;
		font-size: 18px;
		font-weight: bold;
	}

	.detail-info {
		color: #275bec;
		font-size: 1.2em;
		margin-right: 20px;
	}
}

.bets {
	padding: 0 0 10px 40px !important;

	span {
		font-size: 15px;
	}

	.font-icon {
		margin-right: 10px;
	}

	@media (max-width: 767px) {
		padding: 0 0 10px 20px !important;
	}
}

.bets-as-list {
	padding-left: 15px !important;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

